# Python
__pycache__/
*.pyc

# ML models & data
*.pkl
*.joblib
*.xlsx
baseline_predictions.csv

# Data folders
damaged/
undamaged/
result/
results/
temp_uploads/

# Streamlit
.streamlit/

# OS
.DS_Store
